/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
body {
  width: 100%;
  margin:0;
}
nav{
background-color: white;
width: 100%;
top:0;
position: fixed;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
  margin: 15px;
}
a {
  text-decoration: none;
  color:black;
  display: block;
  font-size: 25px;
  text-align: left;
}
.logo {
 /*position: relative;
 margin-left: 750px;*/
 float: right;
}
#home > div > h2 {
  position: relative;
  text-align: center;
  color: white;
  bottom: 450px;
}
#home > img {
  width: 100%;
  height: 700px;
}
#home > div > h1 {
  position: relative;
  text-align: center;
  font-size: 35PX;
  color: white;
  bottom: 450px;
}
#home > div > p {
  position: relative;
  text-align: center;
  font-size: 15PX;
  color: white;
  bottom: 490px;
}
#home > div > a {
  position: relative;
  block:inline;
  text-align: center;
  font-size: 15PX;
  color: white;
  bottom: 380px;
  padding: 10px;
  background-color:#6df26d;
  width: 150px;
  margin:auto;
}
#services{
  background-color: red;
  height: 700px;
}
#services > div > img {
  position: relative;
  width: 20%;
  margin:97px;
  top:100px;
}
#services > div > h2 {
  text-align: center;
  position: relative;
  bottom: 495px;
  color: white;
  font-size: 30px;
}
#services > div > h3 {
  text-align: center;
  position: relative;
  bottom: 495px;
  color: white;
  font-size: 30px;
}
#services > div > h4 {
  text-align: center;
  position: relative;
  color: white;
  bottom: 490px;
}
.design-text {
  float: left;
}
