/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
body {
  width: 100%;
  margin:0;
  padding: 0;
}

#header {
background-color: white;
width: 100%;
position: fixed;
}

#header ul{
  list-style: none;
}

 #header > ul > li{
  display: inline-block;
  margin: 20px;
}

 #header >ul > li >a {
  font-size: 30px;
}

#header > ul > .logo {
 float: right;
 margin-right: 150px;
}

#home {
  color: white;
  text-align: center;
  width: 100%;
}

#home > img {
  height: 700px;
  width: 100%;
}

#home > .text-home {
  top:400px;
  margin-top: -400px;
}

#home > .text-home > .button {
  background-color: green;
  color: white;
  font-size: 25px;
  margin-top: 40px;
  padding: 10px;
}

#services {
  background-color: red;
  color: white;
  height: 780px;
  width: 100%;
  text-align: center;
}

#services > .text-1 {
  font-size: 20px;
  height:200px;
  padding-top:170px;
  text-align: center;
  width: 100%;
}

#services > .img-service {
  display: inline-block;
  padding-top:150px;
  height: 550px;
  text-align: center;
  width: 100%;
}

#services > .img-service > article {
  display: inline-block;
  padding: 10px 10px 10px;
  width: 30%;
}

#services > .img-service > article > img {
  display: inline-block;
  width: 60%;
}

#work {
  height: 800px;
  text-align: center;
  width: 100%;
}
#work > .text-2 > img {
  width: 40%;
}

#products {
  text-align: center;
  height: 1000px;
  width: 100%;
}

#products > article {
  display: inline-block;
  margin-top: 20px;
  width: 33%;
}

#products > article > img {
  width: 46%;
}

#footer {
  background-color: #26253d;
  color: white;
  font-size:20px;
  text-align: center;
}

.clear {
 clear: both;
}
